@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
:root {
  --color-primary: #000000;
  --color-primary-light: #434343;
  --color-primary-dark: #BA265D;
  --primary-color: #f4f2f2;
  --second-color: #f3ca20;
  --primary-color-burguer: #f4f2f2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; }
      html #musicArtists > div {
        background-size: cover; } }

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 4rem;
  background-image: linear-gradient(to right, var(--color-primary-light) 0%, var(--color-primary) 100%);
  opacity: 0.8;
  color: var(--primary-color);
  text-align: center;
  padding-right: 20rem;
  padding-left: 20rem; }

@media screen and (max-width: 90.625em) {
  #musicArtists {
    background-color: rgba(224, 248, 4, 0.212);
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #musicArtists > div {
      width: 70rem;
      height: 40rem;
      background-size: auto;
      align-items: flex-end;
      justify-content: space-evenly;
      margin-left: 0; }
    #musicArtists #juiceWrld, #musicArtists #mariaBecerra {
      flex-direction: row-reverse; }
  #action {
    flex-direction: column; } }

@media screen and (max-width: 56.25em) {
  html {
    display: flex;
    justify-content: center;
    align-items: center; }
  #userNav {
    flex-wrap: wrap; }
  #musicArtists {
    width: 80vw; }
  #musicArtists > div {
    width: 60vw; } }

@media screen and (max-width: 28.125em) {
  #musicArtists > div {
    height: 100vh; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 0 0 2px white; } }

@keyframes color-change {
  0% {
    color: white; }
  50% {
    color: var(--second-color); }
  100% {
    color: white; } }

#userNav {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  font-size: 1.8rem;
  font-family: Lora, sans-serif; }
  #userNav h2 {
    display: inline-block;
    position: relative; }
  #userNav h2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--second-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out; }
  #userNav h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }

#userNav img {
  width: 3rem;
  height: 3rem; }

#userNav h2 input {
  opacity: 1;
  position: relative;
  right: 50%; }

#logo {
  width: 2.5rem;
  height: 2.5rem; }

#musicArtists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 10rem;
  padding-left: 10rem;
  animation: fadeIn 1.5s; }
  #musicArtists h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--second-color); }
  #musicArtists h4 {
    font-size: 3rem; }

#musicArtists div:not(:last-child) {
  margin-bottom: 2rem; }

#musicArtists > div {
  color: white;
  width: 80wv;
  height: 18vh;
  border-radius: 3rem;
  display: flex; }
  #musicArtists > div:hover:not(.socials) {
    animation: pulse-animation 2s infinite; }

#juiceWrld, #mariaBecerra {
  justify-content: flex-end;
  align-items: center; }
  #juiceWrld ul, #juiceWrld .socials, #mariaBecerra ul, #mariaBecerra .socials {
    margin-right: 4vw; }

#badBunny, #drake {
  justify-content: flex-start;
  align-items: center; }
  #badBunny ul, #badBunny .socials, #drake ul, #drake .socials {
    margin-left: 4vw; }

.socials img {
  width: 4rem;
  height: 4rem; }

#musicArtists ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none; }

#juiceWrld {
  background: url("../imgs/artists/juicewrld.jpg") no-repeat left top, linear-gradient(to right, black 50%, white 100%); }

#badBunny {
  background: url("../imgs/artists/badbunny.jpg") no-repeat right top, linear-gradient(to right, black 0%, yellow 100%); }

#mariaBecerra {
  background: url("../imgs/artists/mariabecerra.jpg") no-repeat left top, linear-gradient(to right, purple 20%, black 100%); }

#drake {
  background: url("../imgs/artists/drake.jpg") no-repeat right top, linear-gradient(to right, rgba(129, 27, 27, 0.267) 20%, black 100%); }

#musicArtists ul li {
  font-size: 2rem; }

#action {
  display: flex;
  justify-content: space-evenly;
  z-index: 1; }

#logindiv, #registerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #logindiv h4, #registerdiv h4 {
    border-bottom: 3px solid var(--second-color); }

#login, #register {
  display: flex;
  flex-direction: column;
  width: 50rem; }
  #login input[type=button], #register input[type=button] {
    display: flex;
    justify-content: center;
    background-color: var(--second-color);
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 2.5rem; }
    #login input[type=button]:hover, #register input[type=button]:hover {
      background-color: black;
      color: white;
      transition: ease-out all 0.6s; }

#customizedtext {
  animation: color-change 4s infinite; }

footer {
  height: 25vh;
  background-image: linear-gradient(to right, var(--color-primary-light) 0%, var(--color-primary) 100%);
  display: flex;
  justify-content: space-evenly;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  color: var(--second-color); }
  footer #miscelanea ul {
    list-style-type: none; }
