:root {
    --color-primary: #000000;
    --color-primary-light: #434343;
    --color-primary-dark: #BA265D;

    --primary-color: #f4f2f2;
    --second-color: #f3ca20;
    --second-color-scrollbar: #c59f06;
    --primary-color-burguer: #f4f2f2;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    
    --line: 1px solid var(--color-grey-light-2);
  

}



$bp-largest: 90.625em;     // 1450px
$bp-large: 76.875em;    // 1230px
$bp-medium: 65.625em;   // 1050px
$bp-small: 47.5em; // 760px
$bp-smallest: 22.5em; // 360px


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

}

body {
    min-width: 240px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 4rem;
    background-image: linear-gradient(to right, var(--color-primary-light) 0%, var(--color-primary) 100%);
    opacity: 0.8;
    color: var(--primary-color);
    text-align: center;
    padding-right: 20rem;
    padding-left: 20rem;
}

@media only screen and (max-width: $bp-largest){
    html {
        font-size: 50% !important;
    }
    #musicArtists {
        & > div > img {
            width: 30% !important;
        }
        & > div > #artistInfo {
            width: 70% !important;
        }
    }
}

@media only screen and (max-width: $bp-large) {
    html {
        font-size: 45% !important;
    }
    #musicArtists {
        & > div > img {
            width: 35%;
        }
        & > div > .artistInfo {
            width: 65%;
        }
    }
}

@media only screen and (max-width: $bp-medium) {
    body {
        padding-right: 10rem;
        padding-left: 10rem;
    }
    html {
        font-size: 40%;
    }
    #musicArtists > div {
        height: 45vh !important;
        justify-content: center;
        flex-wrap: wrap;
        & img {
            width: 75% !important; 
            object-fit:cover;
            height: 60%;
        }
        & .artistInfo {
            width: 70% !important;
            height: 40%;
            & .socials a img {
                width: 5rem !important;
                height: 5rem !important;
            }
        }
    }
    footer {
        padding: 4rem;
    }
}
@media only screen and (max-width: $bp-small) {
    * {
        padding: 1rem !important;
    }
    #userNav {
        height: 150px !important;
        align-items: center;
        flex-wrap: wrap;
        & img {
            height: 8rem !important;
            width: 12rem !important;
        }
    }
    html {
        font-size: 45% !important;
        width: 100%;

    }
    #musicArtists > div {
        border-radius: 1rem !important;
        height: 70vh !important;
        & img {
            border-radius: 4rem !important;
            width: 85% !important;
            height: 55%;
            
        }
        & .artistInfo {
            width: 80% !important;
            height: 40%;
            align-items: center !important;
            & .socials a img {
                width: 6rem !important;
                height: 6rem !important;
            }
        }
    }
    #action {
        flex-direction: column;
    }
    footer {
        padding: 1rem;
    }
}

@media only screen and (max-width: $bp-smallest) {
    html {
        font-size: 40% !important;
    }
    #musicArtists > div img {
        width: 100% !important;
    }
}